* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0 5px 0;
}

.books {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.remove {
    padding: 5px;
}

.add {
    padding: 8px;
    margin: 10px 20px;
}



.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: solid 2px black ;
    border-radius: 5px;
    padding: 10px 30px;
}